<div id="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <img src="images/logo.png" class="mx-auto d-block" alt="GESMUSIC">
                    </div>
                    <div class="card-body" ng-cloak>
                        <div class="row justify-content-md-center">
                            <h2 class="card-title">BIENVENIDO</h2>
                        </div>
                        <div class="row justify-content-md-center">
                            <form name="form" ng-submit="login()" role="form">
                                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                    <label for="username" style="font-size: 16px">Usuario</label>
                                    <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required value="cacun" />
                                    <small id="userhelp" class="form-text text-muted">
                                        Para acceder como invitado teclea la palabra <span class="font-italic">invitado</span> en minúsculas
                                    </small>
                                    <span ng-if="form.username.$dirty && form.username.$error.required" class="form-text text-muted">Debes introducir un nombre de usuario</span>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                    <label for="password" style="font-size: 16px">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required value="cacun" />
                                    <small id="userhelp" class="form-text text-muted">
                                        Para acceder como invitado teclea la palabra <span class="font-italic">invitado</span> en minúsculas
                                    </small>
                                    <span ng-if="form.password.$dirty && form.password.$error.required" class="form-text text-muted">Debes introducir un password</span>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">INICIAR SESIÓN</button>                                    
                                </div>
                            </form>
                            <br />
                        </div>
                    </div>
                    <div class="card-footer" ng-include="'js/system/footer.html'"></div>
                </div>
            </div>
        </div>
    </div>     
</div>
