.cita{
    font-family: 'Ruluko', sans-serif;
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    color: #052778;
    border: solid 1px #052778;
    width: 65%;
    padding: 10px;
}
.logo{ padding-top: 30px; }