<div class="form-group"                                 
     ng-class="{'has-error': (fk.form[fk.metadata.name].$error.required ||
                 fk.form[fk.metadata.name].$error.exists ||
                 fk.form[fk.metadata.name].$error.validatemin)
                 && !fk.form[fk.metadata.name].$pristine}">                                                                                                                                   
    <label class="col-sm-2 control-label" for="obj_importancia">
        <span ng-show="{{fk.metadata.required}}">*</span>
        {{fk.metadata.longname}}
    </label>
    <div class="control col-sm-3">
        <div class="input-group foreign" id="obj_importancia_group">
            <span class="input-group-addon" id="obj_importancia_button" ng-click="fk.chooseOne()">
                <span class="glyphicon glyphicon-search">
                </span>
            </span>                                        
            <input type="text" 
                   ng-model-options="{debounce: 1000}" 
                   ng-model="fk.bean[fk.metadata.name].id"
                   ng-change="fk.change(fk.bean[fk.metadata.name].id)"
                   validatemin="0" 
                   ng-required="{{fk.metadata.required}}"  
                   aria-describedby="basic-addon2" 
                   class="form-control" 
                   id="{{fk.metadata.name}}" 
                   name="{{fk.metadata.name}}"
                   size="5" 
                   maxlength="5">                                        
            <span class="input-group-addon">
                <span>{{fk.desc}}</span>
            </span> 
        </div>
        <span class="help-block" ng-show="!fk.form[fk.metadata.name].$pristine && fk.form[fk.metadata.name].$error.required">Este campo es obligatorio</span>
        <span class="help-block" ng-show="!fk.form[fk.metadata.name].$pristine && fk.form[fk.metadata.name].$error.validatemin">Debes elegir uno/a</span>
        <span class="help-block" ng-show="!fk.form[fk.metadata.name].$pristine && fk.form[fk.metadata.name].$error.exists">Debes elegir uno/a que exista</span>
    </div>
</div>
