<div class="row">
    <div class="col-lg-6">
        <div>
            <h3>Herramienta de gestión para Sociedades Musicales</h3>
            <ul>    
                <li>Gestión de socios</li>
                <li>Gestión de miembros y agrupaciones</li>
                <li>Control de asistencia</li>
                <li>Esuela de música</li>
                <li>Archivo musical</li>
                <li>Historial de actos</li>
                <li>Fondo instrumental</li>
            </ul>
        </div>
    </div>
</div>
